{
    http_port 80

    route /api/v1/manga/* {
        reverse_proxy app1 {
            to localhost:8080
        }
    }

    route /api/v1/image/* {
        reverse_proxy app2 {
            to localhost:8081
        }
    }

    reverse_proxy default {
        to localhost:8080 localhost:8081
    }
}